<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AZURE_ACCESS_KEY</key>
	<string>$(AZURE_ACCESS_KEY)</string>
	<key>AZURE_HOSTNAME</key>
	<string>$(AZURE_HOSTNAME)</string>
</dict>
</plist>
